---
# Source: tenant-app/templates/ns-app.yaml
apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: tenant-99-setup
  namespace: vela-system
spec:
  components:
    - name: tenant-99
      type: tenant-ns
      properties:
        cpu: "1"
        memory: "1Gi"
        pods: "10"
  workflow:
      steps:
        - name: force-apply-infrastructure
          type: apply-object # This is the "dumb" apply that skips dry-runs
          properties:
            # This tells Vela to just grab the output of the component and push it
            component: tenant-99