vcluster:
  controlPlane:
    statefulSet:
      persistence:
        volumeClaim:
          enabled: true
          size: 5Gi

# Your custom property for your ingress.yaml template
ingress:
  enabled: true