vcluster:
  controlPlane:
    distro:
      k3s:
        enabled: true
    
    statefulSet:
      image:
        repository: "loft-sh/vcluster-oss"
        tag: "0.22.3"
      persistence:
        volumeClaim:
          enabled: true
          size: 5Gi

# Your custom property for the ingress.yaml in /templates
ingress:
  enabled: true