vcluster:
  controlPlane:
    distro:
      k3s:
        enabled: true
    statefulSet:
      persistence:
        volumeClaim:
          enabled: true
          size: 5Gi
  sync:
    toHost:
      services:
        enabled: true